<div class="addEmp-user-header">
    {{#link-to "users"}}
        <span class="cancel" >X</span>
    {{/link-to}}
    <div class="header-content">
        <div class="addEmp-user-title">Add Employee</div>
        <div class="addEmp-action-btns">
            {{#link-to "users" class="cancel-text"}}
                <span>Cancel</span>
            {{/link-to}}
            {{#link-to "users"}}
                <button class="apply" {{action "save" userData}}>Save</button>
            {{/link-to}}
        </div>
    </div>
</div>

<form class="addemp-form">
  {{#if userData.img_url}}
  <div class="avatar-form">
    <img class="avatar-img" src="{{userData.img_url}}" />
    <input class="upload" id="imgFile" onchange={{action "uploadImage" }} type="file" />
  </div>
  {{else}}
  <div class="avatar-form">
    {{svg-jar "avatar-loading" class="dummy-icon"}}
    {{svg-jar "img-upload" class='uploadImg-icon'}}
    <input class="upload" id="imgFile" onchange={{action "uploadImage" }} type="file" />
  </div>
  {{/if}}

  <div class="addemp-form-body">
    <div class="field-wrapper">
        <div class="label-tag important">First Name</div>
            {{input
                type="text"
                class="user-input"
                id="firstName"
                value=userData.first_name
                focus-out=(action (mut showFirstNameError) true)
            }}
        {{#if showFirstNameError}}
        <div class="error">
            {{v-get userData 'first_name' 'message'}}
        </div>
        {{/if}}
    </div>
    <div class="field-wrapper">
        <div class="label-tag important">Last Name</div>
                {{input
                type="text"
                class="user-input"
                id="lastName"
                value=userData.last_name
                focus-out=(action (mut showLastNameError) true)
                }}
            {{#if showLastNameError}}
        <div class="error">
            {{v-get userData 'last_name' 'message'}}
        </div>
        {{/if}}
    </div>
    <div class="field-wrapper">
        <div class="label-tag important">Email</div>
            {{input
                type="email"
                class="user-input"
                id="email"
                value=userData.email
                focus-out=(action (mut showEmailError) true)
            }}
        {{#if showEmailError}}
        <div class="error">
            {{v-get userData 'email' 'message'}}
        </div>
        {{/if}}
    </div>
    <div class="field-wrapper">
        <div class="label-tag">Date of joining</div>
            {{bootstrap-datepicker
                class="user-input"
                value=userData.joiningDate
                autoclose=true
                format="dd.mm.yy"
                id="date"
                focus-out=(action (mut showJoiningDateError) true)
            }}
        {{#if showJoiningDateError}}
        <div class="error">
            {{v-get userData 'joiningDate' 'message'}}

        </div>
      {{/if}}
    </div>
    <div class="field-wrapper">
        <div class="label-tag">Designation</div>
            {{input
                type="text"
                class="user-input"
                id="design"
                focus-out=(action (mut showDesignationError) true)
                value=userData.designation
            }}
        {{#if showDesignationError}}
        <div class="error">
            {{v-get userData 'designation' 'message'}}
        </div>
        {{/if}}
    </div>
    <div class="field-wrapper">
        <div class="label-tag">Team</div>
            {{svg-jar "search" class="search-icon"}}
        {{!-- {{#power-select
            destination="customized-destination"
            options=this.teams
            required="true"
            selected= userData.team
            onchange=(action "chooseTeam")
            as |teamName|
        }}
            {{#if (isEqual userData.team name)}}
            {{svg-jar "checkbox-tick"}}
            {{/if}}
            {{teamName}}
        {{/power-select}}
        <div id="customized-destination"></div>  --}}
            <PowerSelect 
                @options={{this.teams}}
                
                @searchEnabled={{true}}
                @searchField="name"
                @class="power-select {{if (isEqual userData.team teamName) "active-bg"}}"
                @selected={{userData.team}} 
                @onchange={{action 'selectTeam'}} as |teamName|
            >   
                {{teamName}}
                {{#if (isEqual userData.team teamName)}}
                    {{svg-jar "checkbox-tick"}}
                {{/if}}
            </PowerSelect> 
            {{!-- <div id="customized-destination" class="list-destination"></div> --}}
    </div>
  </div>
</form>