<div class="filterSearch">
    <div class="filters">
        <div class="enitity">
            <div class="label">Filter by</div>
            <BsDropdown as |dd|>
                <dd.toggle class="selected">
                    {{selectedTeam}}
                    <span class="caret"></span>
                </dd.toggle>
                <dd.menu as |menu|>
                    {{#each this.teamsArray as |filterItem|}}
                        <li {{action "selectOption" filterItem}} data-test-id={{filterItem}} class="menuItem {{if (isEqual selectedTeam filterItem) "active-bg"}}">
                            {{filterItem}}
                            {{#if (isEqual selectedTeam filterItem) }}
                            {{svg-jar "checkbox-tick"}}
                            {{/if}}
                        </li>
                    {{/each}}
                </dd.menu>
            </BsDropdown>
        </div>
        <div class="enitity">
            <div class="label">Sort by</div>
            <BsDropdown as |dd|>
                <dd.toggle class="selected">
                    {{selectedSort}}
                    <span class="caret"></span>
                </dd.toggle>
                <dd.menu as |menu|>
                    {{#each this.sortArrayValue as |sortItem|}}
                        <li {{action "selectOption" sortItem 'sort'}} data-test-id={{sortItem}} class="menuItem {{if (isEqual selectedSort sortItem) "active-bg"}}">
                            {{sortItem}}
                            {{#if (isEqual selectedSort sortItem)}}
                            {{svg-jar "checkbox-tick"}}
                            {{/if}}
                        </li>
                    {{/each}}
                    <menu.divider/>
                    {{#each this.sortOrderType as |order|}}
                        <li {{action "selectOrder" order}} data-test-id={{order}} class="menuItem {{if (isEqual selectedSortOrder order) "active-bg"}}">
                            {{order}}
                            {{#if (isEqual selectedSortOrder order)}}
                                {{svg-jar "checkbox-tick"}}
                            {{/if}}
                        </li>
                    {{/each}}
                </dd.menu>
            </BsDropdown>
        </div>
    </div>
    <div class="searchBar">
        {{!-- {{svg-jar "search-big" }} --}}
        {{input 
            name="searchInput"
            key-up=(action 'handleSearch')
            class="light searchInput"
            name="search" placeholder="Search by name"}}
        {{yield results}}
    </div>
</div>
<div class="users-list-wrapper">
    {{#each this.searchResult as |userItem|}}
        {{#user-card user=userItem}}
        {{/user-card}}
    {{/each}}
</div>
