{{yield}}
<tr class="row">
  <td class="col">
    <div class="name-img-container">
      <div class="imageBox">
        {{#user-avatar user=user class='listAvatar' }}
        {{/user-avatar}}
      </div>
      <div class="contentBox">
        <div class="name">{{user.first_name}} {{user.last_name}}</div>
        <div class="designation">{{if user.designation user.designation 'software engineer'}}</div>
      </div>
    </div>
  </td>
  <td class="col">
    <div class="email">
      {{svg-jar "email" class="mail-icon"}}
      <span>{{user.email}}</span>
    </div>
  </td>

  <td class="col">
    <div class="teamName">
      {{user.team}}
    </div>
  </td>

  <td class="col">
    <div class="action-dropdown">
      <BsDropdown as |dd|>
        <dd.button>
          {{svg-jar "ellipsis-v" class="ellipsis"}}
        </dd.button>
        <dd.menu as |menu|>
          {{#link-to "users.edit" user.id}}<li>Edit</li> {{/link-to}}
          <li {{action "setOpenModal"}}> Delete </li>
        </dd.menu>
      </BsDropdown>
    </div>
  </td>
</tr>
{{#if this.openModal}}
    <BsModal
        @open={{this.openModal}}
        @class="confirmation-modal" as |modal|>
        <modal.body>
            <div class="body-heading">
                {{svg-jar "alert-danger" class="alert-danger-icon"}} 
                <span>Do you wish to remove this employee from freshteam</span>
            </div>
            <div class="modal-bodyAction-btns">
                <BsButton @onClick={{modal.close}} @type="dark" @outline={{true}} class="modal-actionbtn btn-no">No</BsButton>
                <BsButton @onClick={{action "deleteUser" user}} class="modal-actionbtn btn-yes">Yes</BsButton>
            </div>

        </modal.body>
    </BsModal>
{{/if}}